In [2]:


# Q1. Create one variable containing following type of data:


# (i) Creating a string variable
my_string = "Hello, world!"

# (ii) Creating a list variable
my_list = [1, 2, 3, 4, 5]

# (iii) Creating a float variable
my_float = 3.14

# (iv) Creating a tuple variable
my_tuple = (10, 20, 30)

# Printing the values of the variables
print("String:", my_string)
print("List:", my_list)
print("Float:", my_float)
print("Tuple:", my_tuple)

String: Hello, world!
List: [1, 2, 3, 4, 5]
Float: 3.14
Tuple: (10, 20, 30)

In [ ]:
# Q2.

The data types of the given variables are as follows:

(i) var1 = ‘ ‘
Data Type: String

(ii) var2 = ‘[ DS , ML , Python]’
Data Type: String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
Data Type: List of Strings

(iv) var4 = 1.
Data Type: Float

In [4]:
# Q3. Explain the use of the following operators using an example:




# Division
result = 10 / 3
print(result)

3.3333333333333335

In [5]:
 # Modulo (Remainder)
remainder = 10 % 3
print(remainder)

1

In [6]:
# Floor Division
result = 10 // 3
print(result)

3

In [7]:
# Exponentiation
result = 2 ** 3
print(result)

8

In [8]:
# Q4.





# Creating a list with various types of data
my_list = [42, "Hello", 3.14, True, [1, 2, 3], (10, 20), {"name": "Alice", "age": 30}, None, "Python", False]

# Using a for loop to print each element and its data type
for item in my_list:
    print("Element:", item)
    print("Data Type:", type(item))

Element: 42
Data Type: <class 'int'>
Element: Hello
Data Type: <class 'str'>
Element: 3.14
Data Type: <class 'float'>
Element: True
Data Type: <class 'bool'>
Element: [1, 2, 3]
Data Type: <class 'list'>
Element: (10, 20)
Data Type: <class 'tuple'>
Element: {'name': 'Alice', 'age': 30}
Data Type: <class 'dict'>
Element: None
Data Type: <class 'NoneType'>
Element: Python
Data Type: <class 'str'>
Element: False
Data Type: <class 'bool'>

In [9]:
# Q5.


# Taking input for numbers A and B
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

# Initializing a counter to keep track of divisions
divisions = 0

# Verifying if A is divisible by B
while A >= B:
    A -= B  # Subtract B from A
    divisions += 1  # Increment the counter

if divisions > 0:
    print(f"{divisions} times: {divisions} * {B} = {divisions * B}")
else:
    print(f"{B} does not divide {A} evenly.")

Enter number A:  30
Enter number B:  6

5 times: 5 * 6 = 30

In [10]:
# Q6.


# Creating a list of 25 integers
my_list = [15, 7, 9, 12, 22, 30, 18, 5, 6, 25, 21, 8, 42, 11, 27, 33, 16, 3, 14, 19, 24, 10, 36, 29, 4]

# Using a for loop to check divisibility by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

15 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
22 is not divisible by 3
30 is divisible by 3
18 is divisible by 3
5 is not divisible by 3
6 is divisible by 3
25 is not divisible by 3
21 is divisible by 3
8 is not divisible by 3
42 is divisible by 3
11 is not divisible by 3
27 is divisible by 3
33 is divisible by 3
16 is not divisible by 3
3 is divisible by 3
14 is not divisible by 3
19 is not divisible by 3
24 is divisible by 3
10 is not divisible by 3
36 is divisible by 3
29 is not divisible by 3
4 is not divisible by 3

In [ ]:
# Q7. 



Immutable Data Types:
    
Immutable data types are those whose values cannot be changed after they are created. If you want to modify an immutable object, you actually
create a new object.

Examples of immutable data types in Python include:
    int, float, str, tuple

In [19]:
# for example

num = 5
new_num = num + 2
print( new_num)

7

In [ ]:
Mutable Data Types:
Mutable data types are those whose values can be changed after they are created. This means that the same object can be modified in-place 
without creating a new object.

Examples of mutable data types in Python include:

list dict set

In [20]:
# Example of a mutable data type:


my_list = [1, 2, 3]
my_list.append(4)  
print(my_list)

[1, 2, 3, 4]